/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.all
 *= require_directory .
 *= require datetimeentry/jquery.datetimeentry
 *= require_self
 *= require welcome
 *= require teams
 *= require tournaments
 */

#flash-messages {position:fixed; margin-left:-335px; left: 50%; top: 80px; }

.table {
    table-layout: fixed;
}
table.table th {text-align: center;}
table.table td, table.table th {overflow: hidden; white-space: nowrap;}
table.table td.numeric {text-align: right;}

input.numeric {text-align: right;}

#diashow {
    position: relative;
    height: 250px;
}

#diashow IMG {
    position: absolute;
    top: 0;
    left: 0;
    z-index:8;
}

#diashow IMG.active {
    z-index: 10;
}
#diashow IMG.last-active {
    z-index: 9;
}
.rotate270 {
    -moz-transform:rotate(-90deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin:  top left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    display: block;
    width: 2em;
    white-space: nowrap;
    line-height: 2.5em;
    margin: 150px 5px 0px 5px;
}

