// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3#blog_subtitle {
  padding-bottom: 10px;
}

img[align=right] {
  padding: 0 0 5px 5px;
}

img[align=left] {
  padding: 0 5px 5px 0;
}

div#comment-area, div#images-area {
  padding-top: 9px;
  border-top: 1px solid #eee;
  margin: 30px 0 20px;
}

#comments {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  .commenter {
    font-size:10pt;
    font-style: italic;
    line-height: 12pt;
  }
}

form#new_comment textarea#comment_body {
  width: 90%;
}
