// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league_combatdays_combat_date {
  width: 140px;
  input {
    width: 100px;
  }
}

.combatand {
  cursor: move;
}

