// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline {
  padding-bottom: 10px;
}

.clearfix {
  display: inline;
  float:left;
  padding-right: 10px;
  .input  {
    display: inline;
  }
}
